@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.app {
  /* background-image: url(/src/images/Snow.svg); */
  font-family: "Anton", sans-serif;
  width: 100%;
  min-height: 1080px;
  color: aliceblue;
  background-color: #111b21;
}

.app .main-navbar {
  padding: 2rem 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #202c33;
}

.app .main-navbar button {
  text-transform: none;
  font-size: 2vh;
  color: white;
  border-radius: 3rem;
}

.app .main-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 700;
  padding-left: 25%;
  padding-top: 10%;
  text-align: start;
}
.app .main-about img {
  height: 70%;
  width: 140%;
  border-width: 2%;
  border-color: white;
}
.app p {
  max-width: 60%;
  color: #065c8f;
}
.app h1 {
  margin: 0%;
}
.app .resume button:hover {
  background-color: White;
}
